<connectionStrings>

  <add name="DanNavyBoatContainer" connectionString="metadata=res://*/Model.DanNavyBoat.csdl|res://*/Model.DanNavyBoat.ssdl|res://*/Model.DanNavyBoat.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=JAY-PC\SQLEXPRESS;initial catalog=dannavyboat;persist security info=True;user id=dannavyboat;password=dannavyboat;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

